backend/node_modules
backend/package-lock.json
backend/.env
backend/dist

frontend/node_modules
frontend/next-env.d.ts
frontend/package-lock.json


client/package-lock.json
client/.next/
client/out/


# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo


# testing
/coverage